[submodule "libs/bump"]
	path = libs/bump
	url = git@github.com:kikito/bump.lua
[submodule "libs/hump"]
	path = libs/hump
	url = git@github.com:vrld/hump
[submodule "libs/sti"]
	path = libs/sti
	url = https://github.com/karai17/Simple-Tiled-Implementation.git
[submodule "libs/anim8"]
	path = libs/anim8
	url = git@github.com:kikito/anim8.git
